body {
    background-color: rgb(216, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    
}

.start {
    background-color: white;
    color: rgb(216, 51, 51);
    width: 500px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    border-width: 0;
    outline: 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.432);
}

#recarregar {
    text-align: center;
}
